

<div class="control">
	<div class="row upload-row">
		<form >
			<label for="upload">Upload SciUnit</label>
			<input type="file" name="sciunit" accept="text/*">
			<input type="submit">
		</form>
	</div>
	<br />
	<div class="row search-row">
		<div class="col-lg-6">
			<form>
				<label for="searchbar">Search SciUnits</label>
				<select name="searchbar" class="chosen-select" id="sciunit-search">
					<option value="foo">Foo</option>
					<option value="bar">Bar</option>
					<option value="mee">Mee</option>
				</select>
				<br />
				<input type="submit">
			</form>
		</div>
	</div>
</div>

<hr />

<div class="row">
	<div id="sciunit-ouput">
		{{#unless test}}
			Here is where the sciunit output is printed
		{{/unless}}

	</div>
</div>