

<div class="control">
	<div class="upload row">
		<form >
			<label for="upload">Upload SciUnit</label>
			<input type="file" name="sciunit" accept="text/*">
			<input type="submit">
		</form>
	</div>
	<br />
	<div class="search row">
		<form>
			<label for="searchbar">Search SciUnits</label>
			<select name="sciunit-list" class="chosen-select" id="sciunit-search" width="100px">
			{{!-- Dynamically populate with sciunits from db --}}
				<option value="foo">Foo</option>
				<option value="bar">Bar</option>
				<option value="mee">Mee</option>
			</select>
			<br />
			<input type="submit">
		</form>
	</div>
</div>

<hr />

<div class="row">
	<div id="sciunit-ouput">
		{{#unless test}}
			Here is where the sciunit output is printed
		{{/unless}}

	</div>
</div>